<%= week_calendar events: @events do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <% if meeting.approved? %>
      <div class="approved">
        <%= meeting.name %>
      </div>
    <% else %>
      <div class="rejected">
        <%= meeting.name %>
      </div>
    <% end %>
  <% end %>
<% end %>
